.game-screen__row {
    display: flex;
}
.game-screen__aside {
    padding: 0;
    margin: 0;
    flex: 1;
    
}

.button {
    padding:8px 12px;
    background-color: blueviolet;
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.button__text {

}


.time-bar__list {
    display:flex;
    flex-direction: row;
    list-style-type: none;
    background-color: rgb(100, 149, 237);
    color: white;
    padding: 0;
    margin: 0;
    height: 2rem;
}



.select__wrapper {
    display: flex;
    flex-direction: row;
    
    margin: 1rem 0;
}
.select__list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    background-color: rgba(100, 149, 237, 0.25);
}

.select__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    transition: all 400ms ease-in-out;
}

.select__list-item img{
    width: 75px;
    height: 75px;
}

.select__list-item.active {background:red;}